* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
}

.sidebar {
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 3;
}

.main {
    padding: 15px;
    background-color: orange;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.projects {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    background-color: pink;
    height: 200px;
}

.main > div:last-child {
    padding: 15px;
    background-color: violet;
    display: grid;
    gap: 15px;
}

.announcement, .trending {
    background-color: white;
    height: 250px;
}